# Remove every file in every folder
test-rpg/*/*
# Add License,
! LICENSE
# Add files with any extension,
!test-rpg/*/*.*
!test-rpg/data/*
test-rpg/data/*.saved.*
# Remove .out files
test-rpg/*/*.out
# Remove .vscode folder
.vscode/*